{% extends "base.html" %} 
{% load icons %} 
{% block title %}Symptoms checker - Assessment{% endblock %} 
{% block content %}
  <div
    class="container flex flex-col xl:flex-row justify-between min-h-screen xl:min-h-max xl:py-20 pt-16"
  >
    <div class="illustration lg:w-1/2">
      <div class="flex items-center justify-between xl:hidden px-6">
        <p class="text-2xl font-semibold">New assessment</p>
        <button class="close-btn text-4xl text-gray-500">
          {% icon 'close' extra_classes='my-fa-close'%}
        </button>
      </div>
      {% load static %} <img src="{% static "./assets/illustration-two.svg" %}"
      class="mix-blend-multiply">
    </div>
    <div class="px-6 pb-10 w-full lg:w-[45%] flex flex-col">
      <div class="xl:flex items-center justify-between hidden">
        <p class="text-2xl font-semibold">New assessment</p>
        <button class="close-btn text-4xl text-gray-500">
          {% icon 'close' extra_classes='my-fa-close'%}
        </button>
      </div>    
      <div class="my-auto">
        {% block question %}{% endblock question %}
        <form method="POST" class="flex flex-col gap-2 mt-4" id="form">
          {% block form %}{% endblock form %}
        </form>
      </div>  
    </div>
  </div>
{% endblock %}
