<div
  class="container min-h-screen xl:min-h-max flex flex-col-reverse xl:flex-col items-center justify-between xl:py-20 pt-16"
>
  {% include "./nav.html" %}
  <div class="flex flex-col-reverse xl:flex-row xl:items-center">
    <div class="xl:hidden px-6">
      <h3 class="font-semibold text-xl">Get tips from our medical team</h3>
      <a href="#articles" class="text-base block mt-2">
        Read up-to-date articles on health and fitness.
      </a>
    </div>
    <div class="left illustration xl:w-1/2 mt-20 xl:mt-0">
      {% load static %} <img src="{% static "./assets/illustration-one.svg" %}"
      alt="" class="mix-blend-multiply"/>
    </div>
    <div class="right xl:w-1/2 px-6">{% include "./intro.html" %}</div>
  </div>
</div>
